* {
    margin: 0px;
    padding: 0px;

}

body
{
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    margin-top: 108px;
    justify-content: space-evenly;
}

.doces img {
    width: 302px;
    height: 348px;
}

.btns
{
    display: flex;
    justify-content: space-between;
}

.btns img {
    width: 148px;
    height: 148px;
    margin-top: 80px;
}

h1
{
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    line-height: 77px;
    color: #333333;
    width: 495px;
    height: 154px;
}

p
{
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    line-height: 32px;
    color: #333333;
    width: 487px;
    margin-top: 24px;
}

.doces
{
    display: flex;
    flex-direction: column;
    margin-top: 63px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #333333;
    border-radius: 40px;
    width: 222px;
    height: 66px;
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;
    margin-top: 33px;
}

.link
{
    display: flex;
    justify-content: center;
    margin-top: 33px;

}

.img-baixo {
    margin-top: 48px;
    margin-bottom: 109px;
}